.episode-container {
  height: 15vw;
  width: 70vw;
  border-radius: 5px;
  box-shadow: 0 0px 10px 1px black;
  margin: 0vw 1vw 2vw 1vw;
  align-items: center; 
  animation-name: fadeIn;
  animation-duration: 1s;
  background-color: black;
  transition: ease 0.5s;
}

.episode-background {
  overflow: hidden;
  opacity: .2;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}

.episode-container:hover {
  box-shadow: 0 0px 2px 1px black, inset 0 0px 3px 1px white;
}

.episode-contents {
  width: inherit;
  height: inherit;
  /* z-index: 9999; */
  position: relative;
  display: flex;
  bottom: 14.2vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.splash-container {
  height: 90%;
  width: 30%;
  margin-left: 10px;
}
.episode-image {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.shadow {
  position: relative;
  height: 102%;
  width: 100%;
  bottom: 102%;
  box-shadow: inset 0px 0px 15px 10px black;
  border-radius: 3px;
}

.details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 5px 3vw 5px;
}

.episode-title {
  font-size: 2rem;
}